.description {

    display: flex;
    align-items: center;
    flex-direction: column;

}

#description-fantasy h2 {
    display: flex;
    justify-content: center;
    color: white;

}

#description-fantasy ul {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

#description-fantasy li {
    width: 15rem;
    text-align: center;
}

#description-fantasy li img {
    height: 8rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}

#description-fantasy li h3 a {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;


}

#description-fantasy li h3 a:hover {
    color: pink;
    text-decoration: underline;

}

#description-fantasy li p {
    font-size: 0.9rem;
}

#description-fantasy {
    width: 93vw;
    padding: 2rem;
    border-radius: 15px;
    background-color: #140524;
    display: flex;
    border-radius: 15px;
    box-shadow: 4px 4px 10px lightgrey;

    flex-direction: column;

}

@media screen and (max-width: 1300px) {
    #description-fantasy li {
        width: 45%;
    }
}